{% extends ':artist:layout.html.twig' %}

{% block title %}{{ page_header }}{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% include '::alert.html.twig'%}
            <div class="block-flat">
                <div class="header">
                    <h4><i>All fields are required.</i></h4>
                </div>
                <div class="content">
                    {% include ":artist/forms:create.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/js/jquery.icheck/skins/all.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.icheck/icheck.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.parsley/dist/parsley.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init({
                nanoScroller: false
            });
        });
    </script>

{% endblock javascripts %}