{% extends ':artist:layout.html.twig' %}

{% block title %}{{ page_header }}{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% include 'alert.html.twig'%}
            <div class="block-flat">
                <div class="content">
                    <div class="table-responsive">
                        <div id="datatable-icons_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <!-- Table Options -->
                            <div class="row table-options">
                                <form method="get">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4 pull-left">
                                            {#<div class="form-group">#}
                                                {#<label for="exampleInputName2">Show</label>#}
                                                {#<select id="sltShow" name="show" class="form-control formSubmit">#}
                                                    {#{% for show in showOptions%}#}
                                                        {#{% if showSelected == show %}#}
                                                            {#<option value="{{show}}" selected>{{show}}</option>#}
                                                        {#{% else %}#}
                                                            {#<option value="{{show}}">{{show}}</option>#}
                                                        {#{% endif %}#}

                                                    {#{% endfor%}#}
                                                {#</select>#}
                                                {#<label for="show_rows">Rows</label>#}
                                            {#</div>#}
                                        </div>
                                        <div class="col-sm-4">
                                            {#{% if is_granted('ROLE_ADMIN') %}#}
                                                {#<div class="input-group col-sm-12">#}
                                                    {#<select id="sltFilterBy" name="filterBy" class="select2 formSubmit">#}
                                                        {#<option value="0">Filter by Organisation</option>#}
                                                        {#{% for organisation in organisations %}#}
                                                            {#{% if selectedOrganisation == organisation.id %}#}
                                                                {#<option value="{{ organisation.id }}" selected>{{ organisation.name }}</option>#}
                                                            {#{% else %}#}
                                                                {#<option value="{{ organisation.id }}">{{ organisation.name }}</option>#}
                                                            {#{% endif %}#}
                                                        {#{% endfor %}#}
                                                    {#</select>#}
                                                    {#<span class="input-group-btn">#}
                                                    {#<button class="btn btn-primary" type="submit"><i class="fa fa-filter"></i></button>#}
                                                {#</span>#}
                                                {#</div>#}
                                            {#{% endif %}#}
                                        </div>
                                        <div class="pull-right">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="search" name="search" placeholder="Search">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- / Table Options -->

                            <!-- Table -->

                            {% include ':artist:list.table.html.twig' %}

                            <!-- / Table -->

                            <!-- Table footer -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="pull-left">
                                        <div class="dataTables_info" id="datatable-icons_info">Total entries {{ pagination.getTotalItemCount }}</div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="dataTables_paginate paging_bs_normal">
                                            {{ knp_pagination_render(pagination) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- / Table footer -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}




