<form class="form-horizontal group-border-dashed" action="{{ path('radio_station_add') }}" data-parsley-validate style="border-radius: 0px;"  autocomplete="off" {% if app.debug %}  novalidate="true"{% endif %}  method="POST" enctype="multipart/form-data">
    <div class="col-sm-12 col-md-12">
        <fieldset>
            <legend><i class="fa fa-volume-up"></i>&nbsp;Details</legend>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.frequency) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.website) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.contactNumber) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.stream) }}
                </div>
                <div class="col-sm-6">
                    {#{{ form_row(form.contactNumber) }}#}
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-12 col-md-12">
        <fieldset>
            <legend><i class="fa  fa-microphone"></i>&nbsp;Primary languages used by the station</legend>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.languages) }}
                </div>
                <div class="col-sm-6">
                    {#{{ form_row(form.publishedAt) }}#}
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="text-center">
            <button class="btn btn-danger btn-lg" type="submit" tabindex="9"><i class="fa fa-save"></i> Add</button>
            <a href="" class="btn btn-default" tabindex="10" title="Cancel" alt="Cancel">Cancel</a>
        </div>
    </div>
    <div class="form-group"></div>
    {{ form_rest(form) }}
</form>


